# Dependencies
node_modules

# Build output
dist
dist-ssr

# Rust build
src-tauri/target

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.sw?

# OS
.DS_Store

# Local config
*.local
